target/
dbt_packages/
dbt_internal_packages/
logs/
scripts/

.idea
.DS_Store

edr.log
integration_tests/data
edr_target

venv/
elementary*.html
elementary*.json

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Python notebooks
.ipynb

# vscode
.vscode/
dbt_internal_packages/

/package-lock.yml
