services:
  vertica:
    environment:
      VERTICA_USER: dbadmin
      VERTICA_PASS: vertica
      VERTICA_HOST: localhost
      VERTICA_PORT: 5433
      VERTICA_DATABASE: elementary_tests
      VERTICA_SCHEMA: elementary_tests_vertica
      APP_DB_USER: ${VERTICA_USER}
      APP_DB_PASSWORD: ${VERTICA_PASS}
      TZ: "America/Los_Angeles"
      VERTICA_DB_NAME: ${VERTICA_DATABASE}
      VMART_ETL_SCRIPT: ""
    container_name: vertica
    image: ratiopbc/vertica-ce
    ports:
      - "${VERTICA_PORT}:${VERTICA_PORT}"
      - "5444:5444"
    deploy:
      mode: global
    ulimits:
      nofile:
        soft: 65536
        hard: 65536
    volumes:
      - type: volume
        source: vertica-data
        target: /data
volumes:
  vertica-data:
